.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color: #2a3428;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.project-metadata {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 2rem;
  padding-left: 3rem;
}

.project-number {
  margin-top: 0.5rem;
  padding: 0.2rem 0.5rem;
  border: whitesmoke 1px solid;
  border-radius: 1rem;
  background-color: whitesmoke;
  color: #2a3428;
  font-size: 1rem;
}

.project-title {
  margin-top: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.game-board {
  width: 30vw;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #bbb119;
  border: #2a3428 1px solid;
  padding: 10px;
}

.box {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  justify-content: center;
}

.game-frame {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
